@model _1_Presentacion_MVC.Models.Register

@{
    ViewBag.Title = "Registrar Usuario";
}


<div class="row">
    <div class="col-md-6">
        <div class="card card-outline-info">
            <div class="card-header">
                <h4 class="m-b-0 text-white">@ViewBag.Title</h4>
            </div>
            
            <div class="card-block">
                <div class="form-body">
                    @using (Html.BeginForm())
                    {

                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary()
            
                        <div class="form-group row">
                            @Html.LabelFor(m => m.UserName, new {@class = "col-sm-3 text-right control-label col-form-label"})
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.UserName, new {@class = "form-control", placeholder = "Username"})
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(m => m.Password, new {@class = "col-sm-3 text-right control-label col-form-label"})
                            <div class="col-sm-9">
                                @Html.PasswordFor(m => m.Password, new {@class = "form-control", placeholder = "Password"})
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(m => m.ConfirmPassword, new {@class = "col-sm-3 text-right control-label col-form-label", placeholder = "Password"})
                            <div class="col-sm-9">
                                @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control", placeholder = "Retype Password"})
                            </div>
                        </div>
                        <div class="form-group m-b-0">
                            <div class="offset-sm-3 col-sm-9">
                                <button type="submit" class="btn btn-info waves-effect waves-light m-t-10">Register</button>
                            </div>
                        </div>

                    }
                </div>

            </div>

        </div>
    </div>
</div>